header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 0.8rem;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spaceimg_card {
  width: 400px;
  height: 600px;
}


footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: black;
  color: white;

  padding: 3rem 2.8rem;
  gap: 2rem;
}