* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray1);
}

#debug * {
  border: 1px dashed black;
}

img {
  max-width: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --gray1: #e5e5e5;
  --gray2: #cccccc;
  --black1: #333333;
  --yellow1: #d2a741;
}

.c-gray2 {
  background-color: var(--gray2);
}